
body {
    padding: 0px;
    margin: 0px;
    background-color: antiquewhite;
}
header > nav {
    background-color: #3A4750;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
header > nav > #logo {
    color: #FF8D29;
    padding-left: 10px;
}
header > nav > #links >ul >li {
    display: inline-block;
    gap: 10px;
    padding: 10px;
}
header > nav > #links >ul >li >a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}
#aboutMe {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    padding-left: 50px;
}
#aboutMe > .image > img {
    width: 700px;
    height: 600px;
    border-radius: 20px;
}
#aboutMe > .description {
    padding-left: 50px;
    text-align: center;
}
#aboutMe > .description > h1 {
    color: #F6C90e;
}
#inspiration {
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding-top: 20px;
}

#inspiration > .image1 > img {
    width: 700px;
    height: 600px;
    border-radius: 20px;
}
#inspiration > .inspire {
    padding-left: 50px;
    text-align: center;
    padding-right: 50px;
}
#inspiration > .inspire > h1 {
    color: #F6C90E;
}
#images > .imager {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#images > .imager > img {
    width: 280px;
    height: 200px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;

}
.footer{
    margin: 10px 0px 0px 0px ;
    background-color: #3A4750;
}
.footer h3{
    padding: 15px 0 15px 30px;
    color: white;
}
.footer h3 span{
    color: #FF8D29;
}
.iconfooter{
    color: #FF8D29;
    font-size: 30px;
    padding: 20px 0 0 0;
    display: flex;
    justify-content: space-around;
    text-decoration: none;
}
.footer hr{
    border: none;
    border: 1px solid black;
}

.footer ul {
    display: flex;
    color: white;
    gap: 80px;
    justify-content: center;
    padding: 20px 0 15px 0;
}
.footer p{
    color: white;
    padding: 20px 0 15px 0;
    text-align: center;
}

/* About page styling */
#dec > .myPic {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 10px;
}
#dec > .myPic > img {
    width: 50%;
    height: 500px;
    border-radius: 20px;
}
#dec > .more {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}
#dec > .more > h1 {
    color: peru;

}
#dec > .more > p {
    text-align: center;
    font-style: italic;
}

